[Unit]
Description=Batch compute resource boundary

[Slice]
{% if COMPUTE_BATCH_CPU_QUOTA %}
CPUQuota={{ COMPUTE_BATCH_CPU_QUOTA }}
{% endif %}
CPUWeight={{ COMPUTE_BATCH_CPU_WEIGHT }}
IOWeight={{ COMPUTE_BATCH_IO_WEIGHT }}
MemoryHigh={{ COMPUTE_BATCH_MEMORY_HIGH }}
MemoryMax={{ COMPUTE_BATCH_MEMORY_MAX }}
MemorySwapMax={{ COMPUTE_BATCH_MEMORY_SWAP_MAX }}
TasksMax={{ COMPUTE_BATCH_TASKS_MAX }}
ManagedOOMMemoryPressure={{ COMPUTE_BATCH_MANAGED_OOM_MEMORY_PRESSURE }}
{% if COMPUTE_BATCH_MANAGED_OOM_MEMORY_PRESSURE_LIMIT %}
ManagedOOMMemoryPressureLimit={{ COMPUTE_BATCH_MANAGED_OOM_MEMORY_PRESSURE_LIMIT }}
{% endif %}
ManagedOOMSwap={{ COMPUTE_BATCH_MANAGED_OOM_SWAP }}
