---
- name: Copy airflow-celery-worker service
  ansible.builtin.copy:
    dest: /lib/systemd/system/airflow-celery-worker.service
    mode: '0644'
    owner: root
    group: root
    content: |
      [Unit]
      Description=Airflow Celery Worker, instance
      Wants=network.target
      After=network.target

      [Service]
      User=airflow
      Environment=AIRFLOW_HOME=/var/lib/airflow
      Type=simple
      # https://github.com/apache/airflow/issues/59707
      # ExecStart=/var/lib/venvs/airflow/bin/airflow celery worker --queues default,workers,{{inventory_hostname}},{{OS|lower}} --celery-hostname {{inventory_hostname}} --pid /var/lib/airflow/celery/{{inventory_hostname}}.pid --concurrency {{CELERY_WORKER_COUNT*4}}
      ExecStart=/var/lib/venvs/airflow/bin/airflow celery worker --queues default,workers,{{inventory_hostname}},{{OS|lower}} --pid /var/lib/airflow/celery/{{inventory_hostname}}.pid --concurrency {{CELERY_WORKER_COUNT*4}}

      Restart=on-failure
      RestartSec=5s
      PrivateTmp=true

      [Install]
      WantedBy=multi-user.target
  notify:
    - Reload daemon files
    - Restart celery worker
  become: true
