---
- name: Update apt
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 86400
  when: OS == 'Ubuntu'

- name: Install the 'Development tools' package group
  ansible.builtin.dnf:
    name: "@Development tools"
    state: present
  when: OS == 'EL'

- name: Install epel-release
  ansible.builtin.dnf:
    name:
      - epel-release
    state: present
  when: OS == 'EL'

- name: Install the "build essential" tools
  ansible.builtin.apt:
    name: build-essential
    state: present
  when: OS == 'Ubuntu'

- name: Install "core" packages
  ansible.builtin.dnf:
    name: "{{ packages.EL }}"
    state: present
  notify: "{{ packages.notify }}"
  when: OS == 'EL'

- name: Install "core" packages
  ansible.builtin.apt:
    name: "{{ packages.Ubuntu }}"
    state: present
  notify: "{{ packages.notify }}"
  when: OS == 'Ubuntu'

- name: Install "core" packages
  ansible.builtin.apt:
    name: "{{ packages.Raspbian }}"
    state: present
  notify: "{{ packages.notify }}"
  when: OS == 'Raspbian'

- name: Install "core" packages
  community.general.homebrew:
    name: "{{ packages.macOS }}"
    state: present
  when: OS == 'macOS'

- name: Install "core" packages (casks)
  community.general.homebrew_cask:
    name: "{{ packages.macOS_casks }}"
    state: present
  when: OS == 'macOS'

- name: Ensure homebrew in path
  ansible.builtin.lineinfile:
    path: /etc/paths
    line: "/opt/homebrew/bin"
  become: true
  when: OS == 'macOS'

- name: Create /etc/profile.d directory if it does not exist
  ansible.builtin.file:
    path: /etc/profile.d/
    state: directory
    mode: '0755'
  become: true
  when: OS == 'macOS'

- name: Add homebrew bin dir to system-wide $PATH.
  ansible.builtin.copy:
    dest: /etc/profile.d/homebrew.sh
    content: 'PATH=$PATH:/opt/homebrew/bin'
  become: true
  when: OS == 'macOS'

- name: Add gpg signing key for chrome
  ansible.builtin.apt_key:
    url: https://dl.google.com/linux/linux_signing_key.pub
    state: present
  when: OS == 'Ubuntu'

- name: Adding repository for chrome
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://dl.google.com/linux/chrome/deb/ stable main"
    state: present
    filename: google-chrome
    update_cache: true
  when: OS == 'Ubuntu'

- name: Installing google-chrome-stable
  ansible.builtin.apt:
    name: google-chrome-stable
    state: present
  when: OS == 'Ubuntu'

- name: Add nodesource NodeJS key
  ansible.builtin.get_url:
    url: 'https://deb.nodesource.com/gpgkey/nodesource.gpg.key'
    dest: /usr/share/keyrings/nodesource.gpg
    mode: '0644'
    owner: root
    group: root
  when: OS == 'Ubuntu'

- name: Add nodesource NodeJS
  ansible.builtin.apt_repository:
    repo: 'deb [arch=amd64 signed-by=/usr/share/keyrings/nodesource.gpg] https://deb.nodesource.com/node_22.x nodistro main'
    state: present
    filename: nodesource
    update_cache: true
  when: OS == 'Ubuntu'

- name: Add LLVM GPG key
  ansible.builtin.get_url:
    url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
    dest: /usr/share/keyrings/llvm-snapshot.gpg.key
    mode: '0644'
    owner: root
    group: root
  when: OS == 'Ubuntu'

- name: Add LLVM apt repository
  ansible.builtin.apt_repository:
    repo: 'deb [signed-by=/usr/share/keyrings/llvm-snapshot.gpg.key] http://apt.llvm.org/{{ ansible_distribution_release }}/ llvm-toolchain-{{ ansible_distribution_release }}-15 main'
    state: present
    filename: llvm
    update_cache: true
  when: OS == 'Ubuntu'

- name: Add apache arrow
  ansible.builtin.apt_repository:
    repo: 'deb [arch=amd64] https://apache.bintray.com/arrow/ubuntu {{ ansible_distribution_release }} main'
    state: present
    filename: apache-arrow
    update_cache: true
  when: OS == 'Ubuntu'

- name: Add newrelic
  ansible.builtin.get_url:
    url: 'https://download.newrelic.com/infrastructure_agent/gpg/newrelic-infra.gpg'
    dest: /usr/share/keyrings/newrelic-infra.gpg
    mode: '0644'
    owner: root
    group: root
  when: OS == 'Ubuntu'

- name: Add newrelic apt repository
  ansible.builtin.apt_repository:
    repo: 'deb [arch=amd64 signed-by=/usr/share/keyrings/newrelic-infra.gpg] https://download.newrelic.com/infrastructure_agent/linux/apt {{ ansible_distribution_release }} main'
    state: present
    filename: newrelic-infra
    update_cache: true
  when: OS == 'Ubuntu'

- name: Add micromamba
  ansible.builtin.shell: |
    set -euxo pipefail
    curl -L https://micromamba.snakepit.net/api/micromamba/linux-64/latest | tar -xj -C /usr/local/bin/ micromamba
  args:
    creates: /usr/local/bin/micromamba
  become: true
  when: OS == 'Ubuntu'

- name: Add uv
  ansible.builtin.shell: |
      set -euxo pipefail
      curl -LsSf https://astral.sh/uv/install.sh | sh
  when: OS == 'Ubuntu'

# - name: Add rustup
#   ansible.builtin.shell: |
#       curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
#   args:
#     creates: /root/.cargo/bin/rustup
#   become: true
#   when: OS == 'Ubuntu'
