---
- name: Update apt
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 86400
  when: OS == 'Ubuntu'

- name: Install the 'Development tools' package group
  ansible.builtin.dnf:
    name: "@Development tools"
    state: present
  when: OS == 'EL'

- name: Install epel-release
  ansible.builtin.dnf:
    name:
      - epel-release
    state: present
  when: OS == 'EL'

- name: Install the "build essential" tools
  ansible.builtin.apt:
    name: build-essential
    state: present
  when: OS == 'Ubuntu'

- name: Install "core" packages - EL
  ansible.builtin.dnf:
    name: "{{ packages.EL }}"
    state: present
  notify: "{{ packages.notify }}"
  when: OS == 'EL'

- name: Install "core" packages - Ubuntu
  ansible.builtin.apt:
    name: "{{ packages.Ubuntu }}"
    state: present
  notify: "{{ packages.notify }}"
  when: OS == 'Ubuntu'

- name: Install "core" packages - Raspbian
  ansible.builtin.apt:
    name: "{{ packages.Raspbian }}"
    state: present
  notify: "{{ packages.notify }}"
  when: OS == 'Raspbian'

- name: Install "core" packages - macOS
  community.general.homebrew:
    name: "{{ packages.macOS }}"
    state: present
  when: OS == 'macOS'

- name: Install "core" packages - macOS casks
  community.general.homebrew_cask:
    name: "{{ packages.macOS_casks }}"
    state: present
  when: OS == 'macOS'

- name: Ensure homebrew in path
  ansible.builtin.lineinfile:
    path: /etc/paths
    line: "/opt/homebrew/bin"
  become: true
  when: OS == 'macOS'

- name: Create /etc/profile.d directory if it does not exist
  ansible.builtin.file:
    path: /etc/profile.d/
    state: directory
    mode: '0755'
  become: true
  when: OS == 'macOS'

- name: Add homebrew bin dir to system-wide $PATH.
  ansible.builtin.copy:
    dest: /etc/profile.d/homebrew.sh
    content: 'PATH=$PATH:/opt/homebrew/bin'
  become: true
  when: OS == 'macOS'

- name: Add chrome key
  ansible.builtin.apt_key:
    url: https://dl.google.com/linux/linux_signing_key.pub
    state: present
  when: OS == 'Ubuntu'

- name: Add chrome apt repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://dl.google.com/linux/chrome/deb/ stable main"
    state: present
    filename: google-chrome
    update_cache: true
  when: OS == 'Ubuntu'

- name: Install google-chrome-stable
  ansible.builtin.apt:
    name: google-chrome-stable
    state: present
  when: OS == 'Ubuntu'

- name: Add nodesource NodeJS key
  ansible.builtin.get_url:
    url: 'https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key'
    dest: /usr/share/keyrings/nodesource.gpg.key
    mode: '0644'
    owner: root
    group: root
  when: OS == 'Ubuntu'

- name: De-armor nodesource key
  ansible.builtin.command:
    cmd: 'gpg --dearmor -o /usr/share/keyrings/nodesource.gpg /usr/share/keyrings/nodesource.gpg.key'
  args:
    creates: /usr/share/keyrings/nodesource.gpg
  when: OS == 'Ubuntu'

- name: Add nodesource NodeJS apt repository
  ansible.builtin.apt_repository:
    repo: 'deb [arch=amd64 signed-by=/usr/share/keyrings/nodesource.gpg] https://deb.nodesource.com/node_22.x nodistro main'
    state: present
    filename: nodesource
    update_cache: true
  when: OS == 'Ubuntu'

- name: Add LLVM key
  ansible.builtin.get_url:
    url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
    dest: /usr/share/keyrings/llvm-snapshot.gpg.key
    mode: '0644'
    owner: root
    group: root
  when: OS == 'Ubuntu'

- name: De-armor LLVM key
  ansible.builtin.command:
    cmd: 'gpg --dearmor -o /usr/share/keyrings/llvm-snapshot.gpg /usr/share/keyrings/llvm-snapshot.gpg.key'
  args:
    creates: /usr/share/keyrings/llvm-snapshot.gpg
  when: OS == 'Ubuntu'

- name: Add LLVM apt repository
  ansible.builtin.apt_repository:
    repo: 'deb [signed-by=/usr/share/keyrings/llvm-snapshot.gpg] http://apt.llvm.org/{{ ansible_distribution_release }}/ llvm-toolchain-{{ ansible_distribution_release }}-20 main'
    state: present
    filename: llvm
    update_cache: true
  when: OS == 'Ubuntu'

- name: Add apache arrow key
  ansible.builtin.get_url:
    url: 'https://downloads.apache.org/arrow/KEYS'
    dest: /usr/share/keyrings/apache-arrow-apt-source.gpg.key
    mode: '0644'
    owner: root
    group: root
  when: OS == 'Ubuntu'

- name: De-armor apache arrow key
  ansible.builtin.command:
    cmd: 'gpg --dearmor -o /usr/share/keyrings/apache-arrow-apt-source.gpg /usr/share/keyrings/apache-arrow-apt-source.gpg.key'
  args:
    creates: /usr/share/keyrings/apache-arrow-apt-source.gpg
  when: OS == 'Ubuntu'

- name: Add apache arrow apt repository
  ansible.builtin.apt_repository:
    repo: 'deb [arch=amd64 signed-by=/usr/share/keyrings/apache-arrow-apt-source.gpg] https://apache.jfrog.io/artifactory/arrow/ubuntu/ {{ ansible_distribution_release }} main'
    state: present
    filename: apache-arrow
    update_cache: true
  when: OS == 'Ubuntu'

- name: Add newrelic key
  ansible.builtin.get_url:
    url: 'https://download.newrelic.com/infrastructure_agent/gpg/newrelic-infra.gpg'
    dest: /usr/share/keyrings/newrelic-infra.gpg.key
    mode: '0644'
    owner: root
    group: root
  when: OS == 'Ubuntu'

- name: De-armor newrelic key
  ansible.builtin.command:
    cmd: 'gpg --dearmor -o /usr/share/keyrings/newrelic-infra.gpg /usr/share/keyrings/newrelic-infra.gpg.key'
  args:
    creates: /usr/share/keyrings/newrelic-infra.gpg
  when: OS == 'Ubuntu'

- name: Add newrelic apt repository
  ansible.builtin.apt_repository:
    repo: 'deb [arch=amd64 signed-by=/usr/share/keyrings/newrelic-infra.gpg] https://download.newrelic.com/infrastructure_agent/linux/apt {{ ansible_distribution_release }} main'
    state: present
    filename: newrelic-infra
    update_cache: true
  when: OS == 'Ubuntu'

- name: Add postgresql key
  ansible.builtin.get_url:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    dest: /usr/share/keyrings/postgresql.gpg.key
    mode: '0644'
    owner: root
    group: root
  when: OS == 'Ubuntu'

- name: De-armor postgresql key
  ansible.builtin.command:
    cmd: 'gpg --dearmor -o /usr/share/keyrings/postgresql.gpg /usr/share/keyrings/postgresql.gpg.key'
  args:
    creates: /usr/share/keyrings/postgresql.gpg
  when: OS == 'Ubuntu'

- name: Add postgresql apt repository
  ansible.builtin.apt_repository:
    repo: 'deb [arch=amd64 signed-by=/usr/share/keyrings/postgresql.gpg] http://apt.postgresql.org/pub/repos/apt/ {{ ansible_distribution_release }}-pgdg main'
    state: present
    filename: postgresql
    update_cache: true
  when: OS == 'Ubuntu'

- name: Add micromamba
  ansible.builtin.shell: |
    set -eux pipefail
    set -o pipefail
    curl -Ls https://micro.mamba.pm/api/micromamba/linux-64/latest | tar -xvj bin/micromamba
    mv bin/micromamba /usr/local/bin/
    rm -rf bin
  args:
    creates: /usr/local/bin/micromamba
    executable: /bin/bash
  become: true
  when: OS == 'Ubuntu'

- name: Add uv
  ansible.builtin.shell: |
      set -eux pipefail
      set -o pipefail
      curl -LsSf https://astral.sh/uv/install.sh | sh
      mv ~/.local/bin/uv* /usr/local/bin/
  args:
    executable: /bin/bash
  when: OS == 'Ubuntu'

# - name: Add rustup
#   ansible.builtin.shell: |
#       curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
#   args:
#     creates: /root/.cargo/bin/rustup
#   become: true
#   when: OS == 'Ubuntu'
