---
- name: Setup folders
  ansible.builtin.include_tasks: folders.yaml

- name: Install packages
  ansible.builtin.include_tasks: deps.yaml

- name: Configure firewall
  ansible.builtin.include_tasks: firewall.yaml
